.aidriven-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.aidriven-features {
  display: flex;
  gap: 0.25rem;
  color: var(--primary-dark, #8f0012);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.aidriven-text {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1.5rem;
}

.aidriven-title {
  display: flex;
  text-align: center;
  gap: 0.75rem;
  line-height: 48px;
  font-size: 3rem;
  font-weight: 600;
}

.aidriven-title-ai {
  color: #c90019;
  text-decoration: underline;
}

.aidriven-description {
  display: flex;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.aidriven-explore {
  background: #c90019;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 140px;
  gap: 2px;
  color: white;
}
